.category-div {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.category-submit {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: inherit;
}

.category-items {
    display: flex;
    width: 90vw;
}
