.category-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5%;
}

.category-submit {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: inherit;
}

.category-items {
    display: flex;
    width: 90vw;
    flex-direction: column;
    margin: 2%;
}
.category-item-name {
    text-align: center;
    font-size: x-large;
}
