.about-div {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-submit {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: inherit;
}

.about-data {
    width: 30%;
}
