.hours-div {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hours-submit {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: inherit;
}

.days {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.day-data-holder  {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0 0;
}
.day-data  {
    width: 30%;
}
