version: "3"
services:  
    client:
        image: comfort-order-client        
        restart: always        
        ports:            
            - "3000:3000"        
        volumes:            
            - .:/client            
            - /client/node_modules        
        links:            
            - api        
        networks:            
           - conetwork
        
    api:        
        image: comfort-order-api        
        restart: always        
        ports:            
            - "9000:80"        
        volumes:        
            - .:/api        
            - ./node_modules        
        depends_on:            
            - mongodb        
        networks:            
            - conetwork

    mongodb:        
        image: mongo        
        restart: always        
        container_name: mongodb
        environment:
            MONGO_INITDB_ROOT_PASSWORD: example        
            MONGO_INITDB_ROOT_USERNAME: root
        # volumes:          
        #     - ./data-node:/data/db        
        ports:        
            - 27017:27017        
        # command: mongod --noauth --smallfiles        
        networks:            
            - conetwork

networks:    
    conetwork:        
        driver: bridge