.price-div {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.price-submit{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: inherit;
}
.price-items {
    display: flex;
    width: 90vw;
}
