/*==================
      NAVBAR
====================*/

.navbar{
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
  z-index: 99;
  background: yellowgreen;
}
.navbar-nav{
  display: flex;
  list-style: none;
  margin: 7.5px 0;
}
.navbar-nav > li{
  margin-right: 20px;
}
.navbar-nav > li > a{
  text-decoration: none;
}
.navbar-right {
  right: auto;
  left: 0;
  float: right
}

/*==================
    HERO LANDING
====================*/

#restaurant-hero-section{
	display: inline;
	float: left;
	width: 100%;
	position: relative;
}
.hero-photo-sizing{
  display: inline;
  float: left;
  width: 100%;
}
.landing-photo-container{
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}
.landing-photo-container::after{  
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 2;
}				
.landing-photo-container > img{
  width: 100%;
}
  .top-hero-content{
    position: absolute;
    left: 15%;
    top: 33%;
    right: 15%;
    text-align: center;
    z-index: 9;
  }
  .small-hero-title{
    font-size: 100px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
  }
  .hero-title{
    color: #fff;
    font-size: 70px;
    line-height: 90px;
  }
  .top-hero-content > p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0 30px;
  }
  img {
    vertical-align: middle;
    page-break-inside: avoid;
    border: 0;
    display: block;
    max-width: 100%;
    height: auto;
  }


/*==================
      FEATURES
====================*/

.container{
  background-color: #222;
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
  display: block;
  padding-right: 60px;
  padding-left: 60px;
  border: 3px solid black;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.container:before,
.container:after{
display: table;
content: " ";
}
.container:after{
clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}