.navbar{

}
.navbar-nav{
  display: flex;
  list-style: none;
  margin: 7.5px 0;
}
.navbar-nav > li{
  margin-right: 20px;
}
.navbar-nav > li > a{
  text-decoration: none;
}
.navbar-right {
  right: auto;
  left: 0;
  float: right
}