FOOTER ====================*/ #restaurant-footer {
  background-color: #444;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
.footer-area {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}
.foote-links {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.footer-copyright {
  display: inline;
  float: left;
  width: 100%;
}
.footer-copyright p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fff;
}
.footer-copyright p a {
  color: #fff;
  text-decoration: underline;
}
/*==================
      RESPONSIVENESS
====================*/

@media (max-width: 360px) {
  #resturant-map {
    height: 250px;
  }
}
@media (max-width: 480px) {
  #resturant-map {
    height: 350px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
