.messagesHolder, .ordersHolder {
    height: 70%;
    width: 40vw;
    background: antiquewhite;
}

.mainLanding {
    display: flex;
    justify-content: space-around;
    height: 90vh;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background: darkorange;
}

.holderHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LinkButton{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LinkButton:hover{
    background: wheat;
}

.LinkHolder{
    display:flex;
}

.log-out{
    display: flex;
    align-items: center;
    margin-right: 5vw;
}