.all-businesses{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.single-business {
    margin: 5vw;
}

.main-all-sites{
    text-align: center;
    font-size: xx-large;
}

.main-all-bus-users {
    text-align: center;
    font-size: xx-large;
    margin: 6vh;
}

.main-make-business {
    text-align: center;
    font-size: xx-large;
    margin: 6vh;
}

.main-make-user{
    text-align: center;
    font-size: xx-large;
    margin: 6vh;
}

/* .create-business-site{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.new-site-data{
    height: 20%;
    width: 30%;
    margin: 1vw;
}

.new-user-data {
    height: 20%;
    width: 30%;
    margin: 1vw;
}

.make-business-user{
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.format-make-site{
}

.new-site-data-div{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    align-items: center;
}

.business-user-holders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh;
    align-items: center;
}

.business-user-holders > h1{
    margin: 8px;
    font-size: larger;
}

.featureWrap{
    display: flex;
    background: aqua;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.FeatureDiv{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}


.FeatureNum {
    width: 25vw;
    height: 5vh;
    background-color: #CCCCCC;
}

.FeatureDynamic {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    min-height: 20vh;
    height: fit-content;
    background-color: #999999;
    margin: 2vh;
}

.cr-btt {
    display: none;
}
.fake-bit-div, .add-fe-button {
    display: flex;
    justify-content: center;
}

.fake-bit-div > button {
    height: 19vh;
    width: 26vw;
    margin-top: 3%;
}

.add-fe-button > button {
    height: 4vh;
    width: 26vw;
    margin-top: 3%;
    border-radius: 10px 100px / 120px;
}

.siteLink{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border: 2px solid black;
    align-items: center;
}


.siteLink > a{
    font-size: x-large;
}

.siteLink > a:hover{
    background: chartreuse;
}

.img-back-button {
    background-image: url(/static/media/ComfortOrderLogo.cac019f9.png);
    height: auto;
    background-repeat: round;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bold;
    background-position: bottom;
    background-repeat: space;
    background-size: contain;
}

button:hover{
    background: darkgray;
}

.make-account{
    height: 10vh;
    width: fit-content;
    margin-top: 20px;
}

.link-site>a {
    font-size: x-large;
    background: chartreuse;
}

.all-user {
    width: 100%;
    line-height: 13vh;
}