.all-businesses{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.single-business {
    margin: 5vw;
}
.single-business, ul {

}

.main-all-sites{
    text-align: center;
    font-size: xx-large;
}

.main-all-bus-users {
    text-align: center;
    font-size: xx-large;
    margin: 6vh;
}

.main-make-business {
    text-align: center;
    font-size: xx-large;
    margin: 6vh;
}

.main-make-user{
    text-align: center;
    font-size: xx-large;
    margin: 6vh;
}

.create-business-site{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new-site-data{
    height: 20%;
    width: 30%;
    margin: 1vw;
}

.new-user-data {
    height: 20%;
    width: 30%;
    margin: 1vw;
}

.make-business-user{
    height: 30vh;
    display: flex;
    align-items: center;
}


.format-make-site{
}

.new-site-data-div{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    align-items: center;
}

.business-user-holders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh;
    align-items: center;
}

.business-user-holders > h1{
    margin: 8px;
    font-size: larger;
}

.FeatureDiv{
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
    background: aqua;
}


.FeatureNum {
    width: fit-content;
    height: fit-content;
    background-color: #CCCCCC;
}

.FeatureDynamic {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #999999;
    margin: 2vh;
}

.cr-btt {
    display: none;
}
.fake-bit-div {
    display: flex;
    justify-content: center;
}
.fake-bit-div > button {
    height: 8vh;
    width: 26vw;
    margin-top: 3%;
}
